body {
    background-color: black;
    color: #F6F6F6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emfasish1 {
    color: #65E0A2;
}
a {
    background-color: #65E0A2;
    text-decoration: none;
    color: #F6F6F6;
    padding: 5px;
    border-radius:  3px;
}